<div class="headline">
<h1> <%= @merchant.name %></h1>
</div>



<!-- if possible can we put the delete function back in but say you can't delete this just now as it is still tied to a transaction, please change the transaction merchant before deleting this merchant same for tags. -->

<h2>Total:</h2>
<% score = 0 %>
<% for transaction in @transactions %>
<% if transaction.merchant_id == @merchant.id %>
<% score += transaction.amount %>
<% end %>
<% end %>
<p> You've spent £<%=sprintf "%.2f" %  score %> at <%= @merchant.name %></p>

<ul>
  <li>
  <form action='/merchants/<%= @merchant.id %>/edit' method="get">
  <input type='submit' value="Edit <%= @merchant.name  %>">
  </form>
  </li>
</form>
</ul>

<hr>

<h2> Your Transactions </h2>
<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>

          <% @transactions.each do |transaction| %>
          <% if transaction.merchant_id == @merchant.id %>

          <tr>

          <% for merchant in @merchants %>
          <% if merchant.id == transaction.merchant_id%>
          <td><%= merchant.name %></td>
          <% end %>
          <% end %>

          <% for tag in @tags %>
          <% if tag.id == transaction.tag_id%>
          <td><%= tag.name %></td>
          <% end %>
          <% end %>

          <td><%= transaction.day %></td>

          <td><%= sprintf "%.2f" % transaction.amount %></td>


          <td><%= transaction.description %></td>


          <td><a href="/transactions/<%= transaction.id %> ">View</a></td>

    </tr>
          <% end %>
<% end %>
        </tbody>
