<div class="headline">
<h1> <%= @tag.name %></h1>
</div>



<h2>Total:</h2>
<% score = 0 %>
<% for transaction in @transactions %>
<% if transaction.tag_id == @tag.id %>
<% score += transaction.amount %>
<% end %>
<% end %>
<p> You've spent £<%=sprintf "%.2f" %  score %> on <%= @tag.name %></p>

<ul>
  <li>
  <form action='/tags/<%= @tag.id %>/edit' method="get">
  <input type='submit' value="Edit <%= @tag.name %> Tag">
  </form>
  </li>
</ul>


<hr>

<h2> Your <%= @tag.name %> Transactions </h2>
<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>

            <% @transactions.each do |transaction| %>
            <% if transaction.tag_id == @tag.id %>

            <tr>

            <% for merchant in @merchants %>
            <% if merchant.id == transaction.merchant_id%>
            <td><%= merchant.name %></td>
            <% end %>
            <% end %>

            <% for tag in @tags %>
            <% if tag.id == transaction.tag_id%>
            <td><%= tag.name %></td>
            <% end %>
            <% end %>

            <td><%= transaction.day %></td>

            <td><%= sprintf "%.2f" % transaction.amount %></td>


            <td><%= transaction.description %></td>

            <td><a href="/transactions/<%= transaction.id%>">View</a></td>

            </tr>
        <% end %>
        <% end %>
        
        </tbody>


        
</table>

