

<form action="/transactions/<%= @transaction.id %>" method="post">
  
  <label>Amount</label>
  <input type="number" step=0.01 name="amount" value=<%= @transaction.amount %>>


  <label>Day</label>
  <input type="date" name="day" value="<%= @transaction.day %>">

  <label>Description</label>
  <input type="text" name="description" value="<%=  @transaction.description%>">

  <label>Merchant</label> 
  <select name="merchant_id">
  <% @merchants.each do |merchant| %>
    <option value='<%= merchant.id %>'><%= merchant.name %></option>
  <% end %>
  </select>
  
  <label>Tag</label>
  <select name="tag_id">
  <% @tags.each do |tag| %>
    <option value='<%= tag.id %>'><%= tag.name %></option>
  <% end %>
  </select>

  <input type="submit" value="Edit Transaction">


</form>
