<div class="formtrans">

<form action="/transactions/<%= @transaction.id %>" method="post">
  
  <label>Amount</label>
  <br>
  <input type="number" step=0.01 name="amount" value=<%= @transaction.amount %>>
<br>

  <label>Day</label>
  <br>
  <input type="date" name="day" value="<%= @transaction.day %>">
<br>
  <label>Description</label>
  <br>
  <input type="text" name="description" value="<%=  @transaction.description%>">
<br>
  <label>Merchant</label> 
  <br>
  <select name="merchant_id">
  <% @merchants.each do |merchant| %>
    <option value='<%= merchant.id %>'><%= merchant.name %></option>
  <% end %>
  </select>
  <br>
  <label>Tag</label>
  <br>
  <select name="tag_id">
  <% @tags.each do |tag| %>
    <option value='<%= tag.id %>'><%= tag.name %></option>
  <% end %>
  </select>
<br>
  <input type="submit" value="Edit Transaction">


</form>
</div>