<h2> Your Transactions </h2>

<% @transactions.each do |transaction| %>

<h3>Amount:</h3>
<p><%= transaction.amount %></p>

<h3>Date of purchase:</h3>
<p><%= transaction.day %></p>

<h3>Description:</h3>
<p><%= transaction.description %></p>

<h3>Merchant</h3>

<% for merchant in @merchants %>
<% if merchant.id.to_i == transaction.merchant_id%>
<%= merchant.name %>
<% end %>
<% end %>

<h3>Tags</h3>
<% for tag in @tags %>
<% if tag.id.to_i == transaction.tag_id%>
<%= tag.name %>
<% end %>
<% end %>

<hr>

<% end %>