<div class="total">
<h2>Total:</h2>
<% score = 0 %>
<% for transaction in @transactions %>
<% score += transaction.amount %>
<% end %>
£<%= sprintf "%.2f" % score %>
</div>


<!-- <audio controls autoplay> 
  <source src="https://soundcloud.com/ghostbeemusic/no-8">
</audio> -->

<h2> Transactions </h2>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>

            <% @transactions.each do |transaction| %>
              <tr>
                <% for merchant in @merchants %>
                <% if merchant.id == transaction.merchant_id%>
                <td><%= merchant.name %></td>
                <% end %>
                <% end %>

                <% for tag in @tags %>
                <% if tag.id == transaction.tag_id%>
                <td><%= tag.name %></td>
                <% end %>
                <% end %>
        
                <td><%= transaction.day %></td>

                <td>£<%= sprintf "%.2f" % transaction.amount %></td>
                
                <td><%= transaction.description %></td>

                <td><a href="/transactions/<%= transaction.id %>">View</a></td>
              </tr>
            <% end %>
      </tbody>

  <div class="addTable">
    <a href="/transactions/new"><h2>New Transaction</h2></a>
  </div>
