<div class="showme">
<h2>Here's the details</h2>

<h2> Amount:</h2>
<%= @transaction.amount %>

<h2> Date:</h2>
<%= @transaction.day %>

<h2> Description:</h2> <%= @transaction.description %>

<h2> Merchant:</h2>
<% for merchant in @merchants %>
<% if merchant.id.to_i == @transaction.merchant_id%>
<%= merchant.name %>
<% end %>
<% end %>

<h2> Tag:</h2>
<% for tag in @tags %>
<% if tag.id.to_i == @transaction.tag_id%>
<%= tag.name %>
<% end %>
<% end %>
</div>

  <div class="edit">
  <form action='/transactions/<%= @transaction.id %>/edit' method="get">
  <input type='submit' value="Edit">
  </form>
  </div>

  <div class="delete">
  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
  <input type = "submit" value="Delete">
  </form>
  </div>


